/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.appWrapper {
    overflow: hidden;
}
.bg-primary {
    background: #6236FF !important;
    color: #FFF;
}
#appCapsule {
    padding: 56px 0;
    margin-bottom: env(safe-area-inset-bottom);
    margin-top: env(safe-area-inset-top);
}