
/* move to crypto header css later */
.wallet-card-section {
    position: relative;
}
.pt-1 {
    padding-top: 8px !important;
}
.section {
    padding: 0 16px;
}
.wallet-card-section:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    display: block;
    height: 140px;
    /* background: #0db1bd; */
}
.wallet-card-section .wallet-card {
    /* background: rgb(255, 255, 255); */
    box-shadow: rgb(0 0 0 / 9%) 0px 1px 3px 0px;
    border-radius: 10px;
    padding: 20px 24px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(45deg, #6236ff, #8cda9d);
}
.wallet-card .balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 100px;
}
.wallet-card .balance .left {
    padding-right: 10px;
}
.wallet-card .balance .page-name {
    font-size: 1.5em;
    font-weight: 300;
    color: #21334c;
}
.wallet-card .balance .title, .wallet-footer .title {
    color: #e5e7eb;
    font-weight: 200;
    display: block;
    /* margin-bottom: 8px; */
    font-size: 0.9em;
}
.wallet-card .balance .total {
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1em;
    font-size: 0.9em;
    color: rgb(121 15 44);
}
h1, h2, h3, h4, h5, h6 {
    color: #27173E;
    margin: 0 0 10px 0;
}
.wallet-card .balance .right {
    padding: 0;
}
.wallet-card .balance .right .button .icon-inner {
    height: 21vw;
    width: 30vw;
}
.wallet-card .wallet-footer {
    border-top: 1px solid #DCDCE9;
    padding-top: 20px;
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
}
.wallet-card .wallet-footer .item {
    flex: 1;
    text-align: center;
}
.wallet-card .wallet-footer .item a {
    display: block;
}
.wallet-card .wallet-footer .item .icon-wrapper {
    background: #FFFFFF;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #dcd7d7;
    font-weight: 500;
    color: #4e5969;
    font-size: 0.75em;
    margin-bottom: 14px;
}
.wallet-card .wallet-footer .item strong {
    display: block;
    color: #1f2937;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2em;
}
.wallet-card .wallet-footer h4 {
    font-weight: 200;
    color: #e5e7eb;
}
.hydrated {
    visibility: inherit;
}
.ionicon-stroke-width {
    stroke-width: var(--ionicon-stroke-width, 32px);
}
.ionicon-fill-none {
    fill: none;
}